.sign-up{
    &__modal{
        cursor: default;
        .ant-modal-content{
            border-radius: 15px;
            .ant-modal-close{
                .ant-modal-close-x{
                    font-size: 22px;
                    color: #e8e8e8;
                    transition: all 1s;
                    &:hover{
                        transform: rotate(-180deg);
                    }
                }
            }
            .ant-modal-body{
                .back-to-email{
                    color: #e8e8e8;
                    font-size: 22px;
                    cursor: pointer;
                }
                .back-to-email:hover{
                    color:#32a852;
                }
                .body{
                    text-align: center;
                    i{
                        padding: 0.75em 0 0.5em 0;
                        font-size: 3em;
                        color: #32a852;
                    }
                    &__title-content{
                        h1{
                            @include title-header(1em, 1.75em);
                            color: black;
                            padding-bottom: 0.5em;
                            font-style: italic;
                            letter-spacing: -1px;
                        }
                        &__main{
                            font-size: 12px;
                        }
                        .input-phone{
                            padding-top:2em;
                            display: flex;
                            width: 80%;
                            margin:0 auto;
                            font-size: 20px;
                            .country{
                                background-color: #f5f7fa;
                                padding:5px 10px 5px 10px;
                            }
                            .ant-input-affix-wrapper{
                                font-size: 20px;
                                margin-left: 10px;
                                width: 80%;
                                background-color: #f5f7fa;
                                border:none;
                                input{
                                    font-size: 20px;
                                    background-color: #f5f7fa;
                                }
                            }
                        }
                        .input-form-item{
                            margin-top:12px;
                            border-radius: 15px;
                            input{
                                height: 36px;
                            }
                        }
                    }
                    .btn-action {
                        display: flex;
                        flex-direction: column;
                    .button-login{
                        margin-top: 1em;
                        padding: 0.85em 5em 2.5em 5em;
                        border: none;
                        border-radius: 20px;
                        color: white;
                    }
                    .continue-button{
                        background: linear-gradient(#fd297b, #ff5864, #ff655b);
                        &:hover{
                            background: linear-gradient( #ff655b, #ff5864,#fd297b);

                        }
                    }
                }
                    .sign-in{
                        padding: 1.5em;
                        button{
                            border-radius: 15px;
                            text-align: left;
                            width: 70%;
                            height: 50px;
                            margin: 0 auto;
                            display: block;
                            margin-top:10px;
                            img{
                                margin-right: 10px;
                            }
                            span{
                                font-size: 15px;
                            }
                            transition: all 0.5s;
                        }
                        .google:hover{
                            border:none;
                            color:white;
                            background-color: #ff5864;
                        }
                        .facebook:hover{
                            background-color: #3B5998;
                            color: white;
                            border: none;
                        }
                        .more{
                            text-align: center;
                            padding-top: 1em;
                            border:none;
                            span{
                                border-bottom: 1px solid #e8e8e8;
                            }
                        }
                    }
                }
                .footer{
                    border-top:1px solid #e8e8e8;
                    margin: 0 auto;
                    width: 95%;
                    text-align: center;
                    h1{
                        @include title-header(1.5em, 2em);
                        color:black;
                        font-weight: bold;
                        font-style: italic;
                    }
                    &__down-btn{
                        padding-top:2em;
                        button{
                            padding: 0em 3em 0em 3em;
                            border-radius: 10px;
                        }
                        button:nth-child(2){
                            margin-left: 2em;
                        }
                    }
                }
            }
        }
    }
}