.header {  
    &__wrapper-page {
        width: 100%;
        background-color: #32a852;
        height: 80px;
        position: fixed;
        z-index: 99;
        .button {
            border: none;
            display: inline-block;
            margin-left: 15px;
            letter-spacing: 0.5px;
            font-size: 1.2em;
            cursor: pointer;
        }
        .header {
            padding: 20px;
            //responsive
            .nav {
                display: grid;
                grid-template-columns: 25% 50% auto;
                padding-bottom: 40px;
                width: 100%;
                h1 {
                    padding-left: 8%;
                    i {
                        font-size: 1.5em;
                    }
                    cursor: default;
                    @include title-header(0, 1.5em);
                    color: #fff ;
                    letter-spacing: 0.5px;
                }
                &__button {
                    color: #fff;
                    &__rent {
                        font-size: 13px;
                        font-weight: bold;
                        letter-spacing: -0.5px;
                    }
                    &__change-language {
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover {
                            color: #32a852;
                        }
                    }
                    &__login {
                        border-radius: 5%;
                        i:first-child {
                            color: black;
                            margin-right: 10px;
                            font-size: 15px;
                        }
                        i:nth-child(2) {
                            color: #717171 !important;
                        }
                    }
                }
                .btn__main {
                    width: 75%;
                    margin-left: 5%;
                    display: flex;
                    background-color: transparent;
                    border-right: none;
                    .ant-menu-item:first-child{
                        text-align: right;
                    }
                    .ant-menu-item{
                        font-weight: 550;
                        color: white;
                        font-size: 14px;
                        transition: all 0.5s;
                        &:hover{
                            color: #32a852;
                        }
                    }
                    .ant-menu-item::after{
                        border-right: transparent;
                    }
                    .ant-menu-item-selected{
                        background-color: transparent;
                        color: #363a45;
                    }
                }
            }
            @media (max-width: 480px) {
                .nav {
                    display: grid;
                    grid-template-columns: 75% auto;
                    padding: 20px 0;
                    h1 {
                        i {
                            font-size: 2em;
                        }
                        cursor: default;
                        @include title-header(0, 1.2em);
                        color: #fff;
                    }
                    &__button {
                        &__change-language {
                            color: #fff;
                            transition: all 0.5s;
                            &:hover {
                                color: #32a852;
                            }
                        }
                        &__login {
                            padding: 0 25px;
                            border-radius: 5px;
                        }
                    }
                }
            }
            .tab {
                margin-top: 5%;
                border: 1px solid #dddddd;
                margin-left: 18%;
                border-radius: 32px;
                color: #222222;
                display: flex;
                height: 66px;
                position: relative;
                width: 60%;
                background-color: #fff;
                    .tab__item {
                        margin-bottom: 1px;
                        text-align: center;
                        font-size: 13px;
                        font-weight: bold;
                        margin: 0;
                        background-color: transparent;
                        border-radius: 29px;
                        height: 65px;
                        transition: all 0.5s;
                        .main-content-tab {
                            font-weight: 800 !important;
                            letter-spacing: 0.04em !important;
                            font-size: 12px !important;
                            line-height: 16px !important;
                        }
                        &:hover{
                            background-color: #ececec;
                            color:#32a852;
                        }
                    }
                    .ant-menu-item-selected{
                        background-color: #32a852;
                        color:#fff;
                        .tab{
                            background-color: #ececec;
                        }
                    }
                    .ant-menu-item::after{
                        border-right: transparent;
                    }
            }
        }
    }
}

.menu-user {
    padding: 10px 0px;
    border-radius: 5px;
    hr {
        margin: 5px 0;
    }
    li {
        a {
            border: none;
            background-color: transparent;
            &:hover {
                color: black;
                background-color: transparent;
            }
        }
        font-size: 13px;
        padding: 10px 7em 10px 10px;
    }
}
